hyprland/.config/xfce4/xfconf/
kitty/.config/kitty/kitty.conf.bak
dms_hypr/.config/hypr/dms/colors.conf
ghostty/.config/ghostty/themes/dankcolors
kitty/.config/kitty/dank-tabs.conf
kitty/.config/kitty/dank-theme.conf
nvim/.config/nvim/lazy-lock.json
dms_hypr/.config/Kvantum/matugen/matugen.kvconfig
dms_hypr/.config/Kvantum/matugen/matugen.svg
