* {
    border: none;
    border-radius: 0;
    font-family: "Droid Sans","FiraCode Nerd Font";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @theme_fg_color;
}

window#waybar.empty #window {
    background: transparent;
    color: @theme_fg_color;
}

window#waybar.solo {
    background: alpha(@theme_base_color,1);
}

#window {
    background: alpha(@theme_base_color,0.2);
    padding: 2px 10px;
    margin: 5px;
    border-radius: 10px;
}

tooltip {
    background: @theme_bg_color;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

.modules-right {
    background: alpha(@theme_base_color,0.2);
    padding: 2px 10px;
    margin: 5px;
    border-radius: 10px;
}


#clock, #cpu, #memory, #workspaces {
    background: alpha(@theme_base_color,0.2);
    padding: 2px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* first block */

#clock {
    margin-left: 5px;
    border-radius: 10px 0 0 10px;
}

#memory {
    border-radius: 0 10px 10px 0;
    margin-right: 5px;
}

#workspaces {
    border-radius: 10px;
    margin: 5px 5px;
}

    #workspaces button {
        color: alpha(@theme_fg_color, 0.2);
        border-radius: 100%;
    }

    #workspaces button.active {
        color: @theme_unfocused_fg_color;
    }

    #workspaces button.focused {
        color: @theme_fg_color;
    }

    #workspaces button.urgent {
        color: @success_color;
    }

    #workspaces button:hover {
        color: @theme_fg_color;
    }



#tray, #memory, #idle_inhibitor, #pulseaudio, #bluetooth, #pulseaudio.microphone, #backlight, #network {
    margin-right: 10px;
}

#idle_inhibitor {
    padding-right: 10px;
}


@keyframes blink {
    to {
        color: @warning_color;
    }
}

#battery.charging {
    color: @success_color;
}


#battery.warning:not(.charging) {
    color: @warning_color;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
