* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

tooltip {
    background: rgba(31, 32, 44, 0.7);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

 .modules-center, .modules-right {
    background: rgba(30, 30, 46, 0.2);
    padding: 2px 10px;
    margin: 5px;
    border-radius: 10px;
}
#cpu, #memory, #workspaces {
    background: rgba(30, 30, 46, 0.2);
}

#workspaces {
    padding: 2px 0px;
    margin: 5px;
    border-radius: 10px;
}

#cpu {
    padding: 2px 10px;
    border-radius: 10px 0px 0px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#memory {
    padding: 2px 10px;
    border-radius: 0 10px 10px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}


#memory, #idle_inhibitor, #pulseaudio, #pulseaudio.microphone, #backlight, #network, #battery {
    padding-left: 15px;
}

#idle_inhibitor {
    font-size: 20px;
}


#workspaces button {
    color: rgba(205,214,244,0.5);
    border-radius: 100%;
}

#workspaces button.active {
    color: rgba(205,214,244,1);
}

#workspaces button.focused {
    color: rgba(205,214,244,1);
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    color: rgba(205,214,244,1);
}
