* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.7);
    color: #cdd6f4;
}

tooltip {
    background: #313244;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}


#custom-language,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cpu,
#memory,
#backlight {
    background: #313244;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #181825;
}

#window {
	background: transparent;
    /* background: #1e1e2e; */
    /* border-radius: 10px; */
    border: 0;
    /* border: 1px solid #181825; */
    margin-left: 60px;
    margin-right: 60px;
}

#cpu {
  color: #89B4FA;
  border-left: 0;
  border-right: 0;
}

#memory {
  color: #F9E2AF;
  border-radius: 0 10px 10px 0;
  border-left: 0;
}


#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #313244;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#workspaces button {
    padding: 5px;
    color: #45475a;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}



#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;;
}

#pulseaudio.microphone {
    color: #cba6f7;
    /* margin-right: 5px; */
    /* border-radius: 0 10px 10px 0; */
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    border-left: 0px;
    border-right: 0px;
    padding-right: 0px;
    margin-right: 5px
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
